name: Deploy to GitHub Pages

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    uses: oneminch/workflows/.github/workflows/gh-pages-deploy.yml@v1
    permissions:
      pages: write
      id-token: write
